.footer {
  padding: 100px 0;
  background-color: #2e2f42;
}

.footer .container {
  display: flex;
}

.footer-text {
  max-width: 264px;
  color: #f4f4fd;
}

.footer-left {
  margin-right: 120px;
}
.footer-socials {
  display: flex;
  flex-wrap: wrap;
  max-width: 208px;
}
.footer-caption {
  margin-bottom: 16px;
  font-weight: 500;
  color: #fff;
}
.footer-socails-list {
  display: flex;
  gap: 16px;
}
.footer-socials-item {
}
.footer-socials-link {
}
.footer-socials-link:hover .footer-wrapper,
.footer-socials-link:focus .footer-wrapper {
  background-color: #31d0aa;
}

.footer-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  border-radius: 20px;
  width: 40px;
  height: 40px;
  width: 40px;
  height: 40px;
  background-color: #4d5ae5;

  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition-property: background-color;
}
.footer-socials-icon {
  color: #f4f4fd;
}
