.team {
  background-color: #f4f4fd;
}

.team-list {
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  gap: 24px;
}
.team-item {
  width: calc((100% - 24px * 3) / 4);
  border-radius: 0 0 4px 4px;
  max-width: 264px;

  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background-color: #fff;
}
.card {
  padding: 32px 16px;
}
.team-avatar {
}
.team-name {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  color: #2e2f42;
}
.team-position {
  text-align: center;
}
